accelerate==0.34.2
annotated-types==0.7.0
argcomplete==3.5.0
attrs==24.2.0
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
datamodel-code-generator==0.26.0
dnspython==2.6.1
email_validator==2.2.0
filelock==3.15.4
fsspec==2024.9.0
genson==1.3.0
huggingface-hub==0.24.6
idna==3.8
inflect==5.6.2
isort==5.13.2
Jinja2==3.1.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
numpy==2.1.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.2
protobuf==5.28.0
psutil==6.0.0
pydantic==2.9.0
pydantic_core==2.23.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rpds-py==0.20.0
safetensors==0.4.5
sentencepiece==0.2.0
sympy==1.12
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.44.2
triton==3.0.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
